:root {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(255, 239, 213);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background: linear-gradient(
    0deg,
    rgb(111, 171, 187),
    rgb(169, 211, 205),
    rgb(195, 188, 118)
  );
}

body {
  background: linear-gradient(
    0deg,
    rgb(111, 171, 187),
    rgb(169, 211, 205),
    rgb(195, 188, 118)
  );
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
